# Python cache
*__pycache__

# Java class
*.class

# Haskell
*.hi
*.o

# Visual C/C++ compiler
*.obj

# fsharp
*.dll

# Executable
source/HelloWorld
*.exe

# Ruby Empty File Checking
source/emptychecker.rb